* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  
  .nav {
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 0;
  }
  
  .nav-item {
    display: inline-block;
    padding: 0 50px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-item a:hover {
    color: #0086f3;
  }
  
  .header-img {
    position: relative;
    height: 300px;
    background-image: url('../imgs/planet.jpg');
    background-size: cover;
    background-position: 0 50%;
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
  }
  
  .header-text h1 {
    margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
  }
  
  .header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 3, 27, 0.4);
  }
  
  main {
    margin: 50px auto;
    width: 1200px;
  }
  
  main h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .about-us-box {
    position: relative;
    height: 300px;
    margin: 40px 0;
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  
  .top {
    background-image: url('../imgs/coffee.jpg');
  
  }
  
  .middle {
    background-image: url('../imgs/iphone.jpg');
  
  }
  
  .bottom {
    background-image: url('../imgs/man.jpg');
  }
  
  .about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
  }
  
  .about-us-bg {
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
  }
  
  .about-us-text h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  footer {
    height: 80px;
    line-height: 80px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    font-size: 20px;
  }
  
  .icon-box {
    margin-left: 20px;
  }
  
  .icon-box a {
    margin: 0 5px;
    color: #ddd;
    font-size: 30px;
    transition: color 0.3s;
  }
  
  .icon-box a:hover {
    color: #0086f3;
  }
  
  .services-list {
    margin: 0 auto;
    width: 100px;
  }
  
  .prices-table {
    margin: 0 auto;
  }
  
  .prices-table td{
    padding: 10px 30px;
  }
  
  .contact-info {
    text-align: center;
    font-size: 36px;
  }
  
  .contact-info .fa-solid{
    margin-right: 10px;
  }
  
  
  